<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalproject"
    android:versionCode="1"
    android:versionName="1.0" >

    <permission
        android:name="com.example.finalproject.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.finalproject.permission.MAPS_RECEIVE" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".custom.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/myicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library android:name="com.google.android.maps" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.DirectionsMapsFragment"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_directions_maps_fragment" >
        </activity>
        <activity
            android:name=".activities.StartAddressActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_test"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>
        <activity
            android:name=".activities.ShowMapActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_show_map" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBaFyDj2vfEb3WYPLJl0EfXoEGkHii1IYw" />

        <activity
            android:name=".activities.AddressesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_addresses"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".activities.EndAddressActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_end_address" >
        </activity>
        <activity
            android:name=".activities.RoutsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_routs" >
        </activity>
        <activity
            android:name=".activities.NavigationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_navigation" >
        </activity>

        <service
            android:name=".services.LocationService"
            android:label="My Service" >
        </service>

        <activity
            android:name=".activities.AddressEditActivity"
            android:label="@string/title_activity_address_edit" >
        </activity>
        <activity
            android:name=".activities.FavoritesActivity"
            android:label="@string/title_activity_favorites" >
        </activity>
        <activity
            android:name=".FavoriteDetailsActivity"
            android:label="@string/title_activity_favorite_details" >
        </activity>
        <activity
            android:name=".activities.HelpActivity"
            android:label="@string/title_activity_help" >
        </activity>
        <activity
            android:name="com.example.finalproject.activities.MainActivity"
            android:label="@string/title_activity_splash" >
        </activity>
    </application>

</manifest>
